<mat-card cl>
  <mat-card-header>
    <mat-card-title *ngIf="service.loaded; else withoutData">
      {{ (data | currency) ?? 'No se encuentran datos para la fecha consultada' }}</mat-card-title>
    <ng-template #withoutData>
      <mat-card-title>-</mat-card-title>
    </ng-template>
    <mat-card-subtitle>Salario minimo vital y móvil</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <mat-form-field>
      <mat-label>Month and Year</mat-label>
      <input matInput [matDatepicker]="dp" [max]="maxDate" [formControl]="date">
      <mat-hint>MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp)"
        panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
      <mat-card-title>{{ svmvWithPercentAplicated | currency }}</mat-card-title>
      <button mat-icon-button
        [cdkCopyToClipboard]="svmvWithPercentAplicated?.toString()!"><mat-icon>content_copy</mat-icon></button>
    <mat-card-subtitle>Smvm con el porcentaje aplicado</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions flex fxLayoutGap="2">
    <mat-form-field>
      <mat-label>Porcentaje</mat-label>
      <input matInput #postalCode maxlength="2" placeholder="Porcentaje a aplicar" [formControl]="percent">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="calculate()">Calcular</button>
  </mat-card-actions>
</mat-card>